@font-face{
	font-family: GalanoGrotesque;
	font-display: swap;
	src: url("../fonts/GalanoGrotesque-Medium.woff2") format("woff2"), url("../fonts/GalanoGrotesque-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat.woff2") format("woff2"), url("../fonts/Montserrat.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Helvetica Neue;
	font-display: swap;
	src: url("../fonts/Helvetica Neue.woff2") format("woff2"), url("../fonts/Helvetica Neue.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: OpenSans_Condensed;
	font-display: swap;
	src: url("../fonts/OpenSans_Condensed-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans_Condensed-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: RobotoCondensed;
	font-display: swap;
	src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: source;
	font-display: swap;
	src: url("../fonts/source-sans-pro.woff2") format("woff2"), url("../fonts/source-sans-pro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Source Sans Pro;
	font-display: swap;
	src: url("../fonts/Source Sans Pro.woff2") format("woff2"), url("../fonts/Source Sans Pro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
