@import "fonts";

* {
    margin: 0 auto;
    box-sizing: border-box;
}

section {
    max-width: 1440px;
}

.development {
    min-height: 873px;
    background: #f9f9fa;
    padding: 80px 105px;
    &-block {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 387px));
        grid-template-rows: repeat(2, minmax(225px, auto));
        gap: 35px;
        &__item {
            background: #ffffff;
            padding: 22px;
        }
        &__title {
            font-family: OpenSans;
            font-weight: 700;
            font-size: 17px;
            padding-bottom: 28px;
            text-transform: uppercase;
        }
        &__descr {
            font-family: OpenSans;
            font-size: 17px;
            color: #5c5c5c;
        }
    }
}

.subtitle {
    margin-bottom: 22px;
    font-family: OpenSans_Condensed;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg, #4343ff 0%, #f96d6d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h1 {
    font-family: GalanoGrotesque;
    font-size: 46px;
    text-align: center;
    color: #110c11;
    margin-bottom: 80px;
}
